#divleft{
    float: left;
    width: 49%;
    font-family: cursive;
    font-size: large;
}

#divright{
    float: right;
    width: 49%;
    font-family: cursive;
    font-size: large;
}
body{
    background-color: rgb(226, 226, 226);
  
}
#balance{
    margin-top: 20px;
    padding-right: 200px;
    font-family: cursive;
    font-size: large;
    
}
#butto1{
    margin-top: 20px;
    margin-left: 470px;
    background-color: grey;
    color: whitesmoke;
}

span{
    color: red;
}
#mastertype{
width: 200px;
}
