<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-nav-bar-admin></app-nav-bar-admin>

<p>
  <mat-toolbar>
    <h5>User Maintenance</h5>
  </mat-toolbar> 
</p>
<div id="usermaintain">
  <div class="gems">
    <div class="buttons gen">
      <button type="button" class="button gera" (click)="selectbtn()" >
        Create New User
      </button>
    </div>
    <div id="table">
      <table class="table text">
        <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">User Code</th>
            <th scope="col">User Name</th>
            <th scope="col">Email Id</th>
            <th scope="col" >Company</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of user">
            <td>
              <mat-icon (click)="updateusers(users.UserId)">create</mat-icon>
              <mat-icon (click)="delete()">delete</mat-icon>
            </td>
            <td>{{users.UserCode}}</td>
            <td>{{users.UserName}}</td>
            <td>{{users.Email}}</td>
            <td>{{users.StausType}}</td>
            <td>{{users.Description}}</td>
          </tr>
      </tbody>
      </table>
    </div>

