<!-- <p class="example-spacer">
  <mat-toolbar color="primary">
  
    <section>
     
      <div class="example-button-row">
        <button mat-button routerLink="usermaintain"><mat-icon>assignment_ind</mat-icon>User Maintenence </button>
        <button mat-button routerLink="mastertype"><mat-icon>assignment</mat-icon>Master Maintenence</button>
        <button mat-button id="btn-login" routerLink="login"><mat-icon>lock_open</mat-icon>Login</button>
        <button mat-button id="btn-logout"><mat-icon>lock</mat-icon>Logout</button>
       
      </div>
    </section>
  </mat-toolbar>
</p> -->


<nav class="navbar navbar-light bg-secondary">
  <div class="headerclass">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/stuartExample-removebg-preview.png" alt="Logo Unavailable"  >
  <span><h2>  Stuart Little</h2></span>
    </a>
  </div>
</nav>
<!-- <app-status-chart></app-status-chart> -->
<router-outlet></router-outlet>