
<div class="row">
    <div class="column1">
      <h2><Label id="choosechatgraph">Choose your graph: </Label>
      <select id="selectchatstatus">
        <option value="bar">Bar</option>
        <option value="pie">Pie</option>
  
      </select>
      
      </h2>
      
      
        <div id="maindiv">
        <!-- <p style="color: rgb(22, 22, 22);">Chart works</p> -->
       <div id="divchart">
      
          <canvas id="mychatChart"></canvas>
      
        </div>
      </div>
    
    </div>
    <div class="column2">
      <!-- <h2>Chatbox</h2>
      <p>Some text..</p> -->
    </div>
  </div>
  
  
  